{% extends "base.html.twig" %}
{% block title %}Marques Pages{% endblock %}
{%block body %}
    {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
        <a href="{{ path('app_logout') }} ">se déconnecter</a>
        <p>user:
            {{ app.user.username }}</p>
    {% else %}
        <a href="/login ">se connecter</a>

    {% endif %}

    <h1>Marques Pages</h1>
    {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
        <a href="{{ path('new_marquePage') }} ">New</a>
    {% endif %}

    <form name="f" method="get">
        <input name="search" id="search" type="text"/>
        <input type="submit" value="search"/>
    </form>

    <ul>
        {% for mp in marquesPages %}
            <li>
                {{ mp.titre }}
                ({{mp.dateCreate.format('Y-m-d H:i:s')}})<br/>
                <p>
                    {{mp.URL}}
                    {% if (is_granted('MARQUE_PAGE_EDIT', mp)) %}
                        <a href="{{ path('edit_marquePage', {'id': mp.id}) }} ">Modifier</a>
                    {% endif %}
                    {% if (is_granted('MARQUE_PAGE_DELETE', mp)) %}
                        <a href="{{ path('delete_marquePage', {'id': mp.id}) }}">Supprimer</a>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block stylesheets %}
    <style>
        h1 {
            text-align: center;
        }
    </style>
{% endblock %}